@use "../../scss/abstracts" as a;

// @media (min-width: 920px) {

.homeCardItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
  padding: 2.5rem;

  img {
    width: 100px;
    border: 10px solid a.$borderGreen;
    border-radius: 50%;
    padding: 1rem;
  }
  h3 {
    color: #222;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
