@use "../../scss/abstracts" as a;

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
  padding: 0 15%;
  margin: auto;
  background-color: a.$bgDark;
  gap: 10px;
  padding: 50px 15% auto 15%;

  h1 {
    font-size: 2em;
    color: a.$red;
  }

  p {
    font-size: 1.1em;
    font-weight: bold;
    color: a.$fontWhite
  }
}
