@use "../../scss/abstracts" as a;

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: a.$fontDark;
  img {
    max-width: 49%;
    width: 200px;
    margin-bottom: 3.5px;
  }
  .links {
    display: flex;
    gap: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 0.5rem;
    justify-content: center;
    & a {
      display: flex;
      justify-content: center;
      color: a.$fontDark;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
