@use "../../scss/abstracts" as a;

.signInContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: a.$bgWhite;
  width: 300px;
  margin: 3rem auto auto auto;
  padding: 2rem;
  gap: 1.5rem;
  a {
    text-decoration: none;
  }
}

.signInIcon {
  font-size: 5rem;
}

.inputRemember {
  display: flex;
  label {
    margin-left: 0.25rem;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  label {
    font-weight: bold;
  }
  input {
    padding: 5px;
    font-size: 1.2rem;
  }
}
